<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
        default-init-method="turnLightOn"
        default-destroy-method="turnLightOff"
>
    <bean id="stage" class="sia.example.contest.Stage"
          factory-method="getInstance"> <!-- СТАТИЧЕСКИЙ метод для создания контруктора -->
    </bean>

    <bean id="auditorium" class="sia.example.contest.Auditorium"
          init-method="turnLightOn"
          destroy-method="turnLightOff"
    />

    <bean id="duke"
        class="sia.example.contest.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <bean id="comeAlong" class="sia.example.contest.ComeAlong"/>

    <bean id="poeticDuke" class="sia.example.contest.PoeticJuggler">
        <constructor-arg value="15"/>
<!--        <constructor-arg ref="comeAlong"/>-->
        <constructor-arg>
            <bean class="sia.example.contest.ComeAlong"/>
        </constructor-arg>
    </bean>

    <bean id="kenny" class="sia.example.contest.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="instrument">
<!--            внутренний компонент, уникальный экземпляр-->
            <bean class="sia.example.contest.Saxophone"/>
        </property>
<!--        <property name="instrument" ref="piano"/>-->
    </bean>

    <bean id="saxophone" class="sia.example.contest.Saxophone"/>
    <bean id="piano" class="sia.example.contest.Piano"/>

<!--    <bean id="hank" class="sia.example.contest.OneManBand">-->
<!--        <property name="instruments">-->
<!--        <property name="instrumentMap">-->
<!--        <property name="instrumentsProp">-->
<!-- коллекции           -->
<!--            <list>-->
<!--                <ref bean="guitar"/>-->
<!--                <ref bean="cymbal"/>-->
<!--                <ref bean="harmonica"/>-->
<!--            </list>-->
<!--            <set>-->
<!--                <ref bean="guitar"/>-->
<!--                <ref bean="cymbal"/>-->
<!--                <ref bean="harmonica"/>-->
<!--            </set>-->
<!-- отображение           -->
<!--            <map>-->
<!--                <entry key="GUITAR" value-ref="guitar"/>-->
<!--                <entry key="CYMBAL" value-ref="cymbal"/>-->
<!--                <entry key="HARMONICA" value-ref="harmonica"/>-->
<!--            </map>-->
<!--            <props>-->
<!--                <prop key="GUITAR">STRUM STRUM STRUM</prop>-->
<!--                <prop key="CYMBAL">CRASH CRASH CRASH</prop>-->
<!--                <prop key="HARMONICA">HUM HUM HUM</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->

    <!--  3.1  наследование от общего предка с переопределением свойства-->
    <bean id="baseSaxophonist" class="sia.example.contest.Instrumentalist"
          abstract="true">
        <property name="instrument" ref="saxophone"/>
        <property name="song" value="Jingle Bells"/>
    </bean>

<!--    <bean id="kenny" parent="baseSaxophonist"/>-->
    <bean id="david" parent="baseSaxophonist"/>

    <bean id="frank" parent="baseSaxophonist">
        <property name="song" value="Dancing monkey"/>
    </bean>

    <bean id="basePerformer" abstract="true">
        <property name="song" value="Desolated"/>
    </bean>
    <bean id="taylor" class="sia.example.contest.Vocalist"
          parent="basePerformer"/>
    <bean id="guitar" class="sia.example.contest.Guitar"/>
    <bean id="steve" class="sia.example.contest.Instrumentalist"
          parent="basePerformer">
        <property name="instrument" ref="guitar"/>
    </bean>

    <bean id="harry" class="sia.example.contest.Magician">
        <property name="magicBox" ref="magicBox"/>
        <property name="magicWords" value="Avada Kedavra"/>
    </bean>

    <bean id="magicBox" class="sia.example.contest.MagicBoxImpl">
        <replaced-method
            name="getContest"
            replacer="tigerReplacer"/>
    </bean>

    <bean id="tigerReplacer" class="sia.example.contest.TigerReplacer"/>




</beans>
